@import "./assets/vendors/fontawesome/css/all.css";

*
{
    box-sizing: border-box;
}

body
{
    background-color: #f8f8f8;
}

@font-face
{
    font-family: 'Tajawal';
    src: url("./assets/fonts/Tajawal-Regular.ttf");
}

@media (min-width: 1281px) {

    body,html
    {
        font-size: 1.3vw;
    }
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {

    body,html
    {
        font-size: 1.3vw;
    }
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    body,html
    {
        font-size: 1.5vw;
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    body,html
    {
        font-size: 1.5vw;
    }
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    body,html
    {
        font-size: 3vw;
    }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {

    body,html
    {
        font-size: 3.5vw;
    }
  }


body,html
{
    width: 100vw;
    height: 100vh;
    padding:0;
    margin: 0;
    font-family: 'Tajawal';

}


.input-field
{
    width: 100%;
    margin-bottom: 15px;
}
.input-field>label
{
display: block;
margin-bottom: 10px;

}
.input-field>input
{
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #bdc3c7;
    padding: 10px;
    font-family: 'Tajawal';
    width: 100%;
    transition: 0.1s;
}
.input-field>input:focus
{
    border-color: #80bdff;
    box-shadow:0 0 0 0.2rem rgba(0,123,255,.25);
}
.btn
{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15), 0 4px 6px 2px rgba(0, 0, 0, 0.15) !important;
    border-radius: 15px;
    color: #fff;
    padding: 5px 20px;
    font-family: 'Tajawal';
    border-style: solid;
    transition: 0.2s;
    cursor: pointer;
}
.btn-primary
{
    background-color: #2980b9;
    border-color: #2980b9;
}
.btn-primary:hover
{
    background-color: #20618d;
    border-color: #20618d;
}



